/*Estilos Gerais. Se quisermos algo diferente para alguns dos elementos daqui
precisaremos usar uma class pra nao adotar esse estilo*/
body {
  font-family: Arial, Helvetica, sans-serif;
}
p{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
  }

.btn{ /*Só a margem que vamos ter que colocar especifica em cada botão, pois cada
  um tem uma diferente. Aqui só colocaremos o estilo geral*/
  border: 3px solid #FEC63E;
  padding: 10px 30px;
  color: #FEC63E;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}
.btn:hover{
  color: #fff;
  border-color: white;
  }
.btn.btn-preto:hover{
  color: #000000;
  border-color: #000;
}
.subtitulo{
  font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}
.subtitulo::after{
  content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px auto;
}
.subtitulo-interno{
  font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
  }
  .subtitulo-interno::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px 0;
  }
img{ /*Para que todas as imagens se comportem como elementos de bloco
  pois vai tirar uma margem que elas tem embaixo e facilita o trabalho*/
display: block;
}

/*Header*/
.header {
  position: fixed; /*O menu fica fixo enquanto scrollamos*/
  top: 0; /*Para que ele fique sempre no topo*/
  width: 100%;
  background: #FEC63E; 
  padding: 15px 0;/*Pra tirar do topo*/
  z-index: 10; /*Quando elementos tem position, para ver qual fica em cima
  de qual ao scrollarmos a pg, usamos isso*/
}
.header_menu{
  text-align: right;
}
.header_menu ul li{ /*Vamos transformar o menu em um elemento em linha*/
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}
.header_menu ul li a{ /*Estamos falando com o "a" que é o último, assim como o de cima*/
 color: #000;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: .1em;
 font-size: 14px;
 line-height: 20px;
 padding: 10px 0;/*Para aaumentar a área de contato no momento em que o mouse estiver focando no item do menu
 */
}
.header_menu ul li a:hover{ /*Para mudar de cor quando passar o mouse por cima*/
color: #fff;
}
/*Introdução*/
.introducao{
  width: 100%;
  height: 380px;
  background: url("../img/background.jpg") no-repeat center;
  background-size: cover; /*Para cobrir inteiro. Ele vai ficar por cima
  pois a estrutura do header tá fixed e por isso o conteúdo que vier
  abaixo dela vai ignorá-la e ai vai subir, para isso daremos uma margem 
  do tamanho exato do header*/
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}
.introducao h1{
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.quote-externo{
  max-width: 320px;/*Não vai crescer mais que isso*//*Para limitar o tamanho do texto 
  sem precisar usar um br para quebrar linha*/
  margin: 0 auto; /*Para alinhar ao centro novamente nao vai usar o text-align pois
  foi colocada uma distancia padrao nele*/
  color: #fff;
  margin-bottom: 40px; /*Margem do botão*/
}
.quote-externo p {
  font-style: italic;
}
.quote-externo p::before, .quote-externo p::after{ /*Usaremos uma pseudo-class para criar as linhas de cima e de baixo*/
content:"" ; /*Esse é um conteúdo de estilo que só está dentro do css, nao no html
so que sem nada dentro para criar ele pelo menos*/
/*Por padrão criar um elemento inline*/
display: block;
width: 60px;
height: 3px;
background: #fff;
margin: 14px auto 10px auto; /*Cima = 14px, direita = auto e assim por diante*/
/*Muito usado quando queremos alguma coisa da interface que pareça um elemento*/
}
.quote-externo cite{
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .1em;
}
/*Estilo geral para sabermos em qual lugar da pagina estamos (O nome fica com cor diferente)*/
.header_menu ul li a.menu_ativo{ /*Coloca o caminho especifico dele detalhado*/
  color: #fff;
}
/*Introdução Interna*/
.introducao-interna{ /*Vai ser a mesma para todos, só vai mudar o background, por isso será feito aqui*/
width: 100%;
margin-top: 92px;
height: 160px;
background-size: cover;
color: #fff;
text-align: center;
padding-top: 30px;
}
.introducao-interna h1{ 
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  }

.introducao-interna h1::after{ /*Para o pseudo-elemento embaixo do nome*/
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 10px auto;
}
/*Produtos*/
.produtos{
  padding: 60px 0;
}
.produtos_lista li{
background: #FEC63E;
text-align: center;
}
.produtos li img{
  margin: 0 auto;
}
.produtos_lista li h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
  }
.produtos_lista li h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto; 
  }
.produtos_lista li p{
  padding: 10px 20px 20px 20px;
  }
.produtos_icone{
  background: #000;
  padding: 20px;

}
.call{
  padding-top: 40px;
  text-align: center;
  clear:both;
}
.call p{
  margin-bottom: 20px;
}
/*Portfólio*/
.portfolio{
  width: 100%;
  background: #000;
  padding: 40px 0;
}
.portfolio .subtitulo{
  color:#FEC63E;
}
.portfolio .subtitulo::after{
  background:#FEC63E;
}
.portfolio_lista li:last-child{ /*Para seleciona o último item que é a imagem*/
  margin-top: 20px;
}
.portfolio .call p{
  color:#fff;
}
/*Qualidade*/
.qualidade{
  padding: 60px 0;
}
.qualidade::after{
content: "";
width: 634px;
height: 83px;
display: block;
background: url("../img/linhas.svg") no-repeat center;
position: absolute;/*Para posicionar usamos o position absolute. Relativo ao container 
todo que ele pega*/
top: 209px;
right: 162px;
z-index: -1; /*Para garantir que esse elemento vai ficar por tras de tudo*/
}
.qualidade img{
  margin: 0 auto; /*Zero para cima e para baixo e calcula a distância que tem
  quando colocamos auto*/
}
.qualidade_lista{
padding-top: 20px;
 overflow: auto;/*Pra dá o clear nos elementos e não ficar nenhum em cima do outro.
Por isso fazemos uma limpeza no clear float da pagina sobre. É o clear-fix*/
}
.qualidade_lista li{
  text-align: center;
  padding: 0 40px;
}
.qualidade_lista li h3{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 20px;
  }
.qualidade_lista li h3::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto; 
  }
  /*Quebra*/
  .quebra{
    width: 100%;
    height: 220px;
    background: url("../img/background-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
  }
  .quebra .quote-externo{
    max-width: 400px;
    padding-top: 40px;
  }

  /*Footer*/
  .footer{
    width: 100%;
    background: #000;
    color:#fff;
    padding: 20px 0;
  }
  
  .footer h3{
    font-size: 18px;
    line-height: 25px;
    color: #FEC63E;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
  }
  
  .footer h3::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 6px 0 12px 0;
  }
  .footer_historia{
    padding-right: 40px;
  }
  .footer_contato ul li{
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .footer_redes ul li{ 
    display: inline-block;
    margin-right: 10px;
  }
  .footer_redes ul li a{
    border: 3px solid #FEC63E;
    display: block;
    padding: 10px;
 }
 .footer_redes ul li a:hover{
  border-color: #fff;
 }
 .copy{
   width: 100%;
   background: #FEC63E;
   padding: 20px 0;
 }